<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>開啟教室</title>
    <!-- Bootstrap core CSS-->
    <link href="./recourse/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="./recourse/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="./recourse/css/sb-admin.css" rel="stylesheet">
    <link href="./recourse/css/LK.css" rel="stylesheet">
</head>

<body class="bg-info">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">開啟教室</div>
        <div class="card-body">
            <form class="navbar-form pull-center" action="./showqr" method="POST">
                <div class="form-group" style="margin-top:20px;">
                    <h3>選擇課程:</h3>
                    <select class="form-control nav" name="YourCourse" id="Coursebox"
                            onchange="document.getElementById('text_content').value=this.options[this.selectedIndex].text">
                    </select>
                    <input type="hidden" name="Course_text" id="text_content" value=""/>

                    <h3 style="margin-top:20px;">課程代碼:</h3>
                    <div class="form-group">
                        <input class="form-control" id="courseinput" name="course_No" type="text" readonly>
                    </div>
                    <h3>選擇已儲存之測驗:</h3>
                    <select class="form-control nav" name="YourCourse" id="Quizbox">
                    </select>
                    <input type="hidden" name="quiz_Id" id="quiz_Id_text" value=""/>
                    <div class="alert alert-danger" role="alert" style="display:none" id="alertno">
                        <strong>請先創立考卷以開啟測驗</strong><br>
                    </div>
                </div>
                <input class="btn btn-primary btn-block" type="submit" value="開啟" id="creatbutt"
                       style="margin-top:20px;" disabled="True"/>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="./recourse/vendor/jquery/jquery.min.js"></script>
<script src="./recourse/vendor/popper/popper.min.js"></script>
<script src="./recourse/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="./recourse/vendor/jquery-easing/jquery.easing.min.js"></script>
<script type="text/JavaScript">
    var course;
    $.ajax({
        type: "POST",
        url: "openclass/getClassinfo",
        dataType: "json",
        data: {},
        success: function (res) {
            if (res) {
                course = res;
                var classoption = '<option value=0>請選擇課程</option>';

                for (var i = 0; i < res.length; i++) {
                    b = i + 1;
                    classoption += "<option value=" + b + ">" + res[i]['course_Name'] + "</option>";
                }
                document.getElementById("Coursebox").innerHTML = classoption;
            }
        },
        error: function (jqXHR) {
            alert("發生錯誤: " + jqXHR.status);
        }
    });
    var temp;
    $('#Coursebox').change(function () {
        var slecteditem = $('#Coursebox').val();
        if (slecteditem != "0") {
            document.getElementById('courseinput').value = course[slecteditem - 1]['course_No'];
            $.ajax({
                type: "POST",
                url: "openclass/getQuizinfo",
                dataType: "text",
                data: {
                    course_Name: document.getElementById("text_content").value
                },
                success: function (res) {
                    if (res) {
                        var quizoption = '';
                        a = JSON.parse(res);
                        temp = a;
                        for (var i = 0; i < a.length / 3; i++) {
                            quizoption += "<option value=" + i + ">" + a[a.length - (i + 1) * 3 + 1] + "</option>";
                        }
                        document.getElementById('Quizbox').innerHTML = quizoption;
                        document.getElementById("quiz_Id_text").value = temp[temp.length - 1 * 3];
                        if (a.length != 0) {
                            document.getElementById("creatbutt").disabled = false;
                            document.getElementById("alertno").style.display = 'none';
                        }
                        else {
                            document.getElementById("creatbutt").disabled = true;
                            document.getElementById("alertno").style.display = 'block';
                        }
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            });


        }
        else {
            var sel = '';
            document.getElementById('Quizbox').innerHTML = sel;
            document.getElementById("creatbutt").disabled = true;
            document.getElementById("alertno").style.display = 'none';
        }
    });

    $('#Quizbox').change(function () {
        var slecteditem = $('#Quizbox').val();
        var num = parseInt(slecteditem);
        document.getElementById("quiz_Id_text").value = temp[temp.length - (num + 1) * 3];

    });

</script>
</body>

</html>
