<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>QuizPage</title>
    <!-- Bootstrap core CSS-->
    <link href="./recourse/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="./recourse/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <!-- //<link href="css/sb-admin.css" rel="stylesheet"> -->
    <link href="./recourse/css/but_style.css" rel="stylesheet">
</head>

<body class="bg-info">
<div class="container-fluid bg-info">

    <div class="row">
        <div class="container" align="center" style="text-align:center">
            <div class="col-md-12">
                <div class="card" style="width:60rem;">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                Question
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <font size="6" id="question_show"></font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container " id='tt'>
                <button class="box1" id="a" style="font-size:20px;"></button>
                <button class="box2" id="b" style="font-size:20px;"></button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container " id="tt">
                <button class="box3" id="c" style="font-size:20px;"></button>
                <button class="box4" id="d" style="font-size:20px;"></button>
            </div>
        </div>
        <input type="hidden" id="ans" value=""/>
    </div>


</div>


<!-- Bootstrap core JavaScript-->
<script src="./recourse/vendor/jquery/jquery.min.js"></script>
<script src="./recourse/vendor/popper/popper.min.js"></script>
<script src="./recourse/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="./recourse/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="./recourse/vendor/pannel.js"></script>
<script text="text/Javascript">
    var question_num = 0;
    $.ajax({
        type: "POST",
        url: "startquiz/getQuizinfo",
        dataType: "json",
        data: {},
        success: function (res) {
            if (res) {
                alert(res);
                document.getElementById('question_show').innerHTML = res[question_num * 6];
                document.getElementById('a').innerHTML = res[question_num * 6 + 1];
                document.getElementById('b').innerHTML = res[question_num * 6 + 2];
                document.getElementById('c').innerHTML = res[question_num * 6 + 3];
                document.getElementById('d').innerHTML = res[question_num * 6 + 4];
            }
        },
        error: function (jqXHR) {
            alert("發生錯誤: " + jqXHR.status);
        }
    });
    $("#a").click(function () {
        document.getElementById('ans').value = 'a';
        var usetime = 10;
        var time = 60;
        $.ajax({
            type: "POST",
            url: "startquiz/checkans",
            dataType: "text",
            data: {
                anstime: usetime,
                ansalltime: time,
                ans: document.getElementById("ans").value,
                question_num: question_num
            },
            success: function (res) {
                if (res) {
                    alert(res);
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        });

    });
    $("#b").click(function () {
        document.getElementById('ans').value = 'b';
        var usetime = 10;
        var time = 60;
        $.ajax({
            type: "POST",
            url: "startquiz/checkans",
            dataType: "text",
            data: {
                anstime: usetime,
                ansalltime: time,
                ans: document.getElementById("ans").value,
                question_num: question_num
            },
            success: function (res) {
                if (res) {
                    window.location.assign("HTTP://localhost/www/");//跳到評價那
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        });

    });
    $("#c").click(function () {
        document.getElementById('ans').value = 'b';
        var usetime = 10;
        var time = 60;
        $.ajax({
            type: "POST",
            url: "startquiz/checkans",
            dataType: "text",
            data: {
                anstime: usetime,
                ansalltime: time,
                ans: document.getElementById("ans").value,
                question_num: question_num
            },
            success: function (res) {
                if (res) {
                    window.location.assign("HTTP://localhost/www/");//跳到評價那
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        });
    });
    $("#d").click(function () {
        document.getElementById('ans').value = 'b';
        var usetime = 10;
        var time = 60;
        $.ajax({
            type: "POST",
            url: "startquiz/checkans",
            dataType: "text",
            data: {
                anstime: usetime,
                ansalltime: time,
                ans: document.getElementById("ans").value,
                question_num: question_num
            },
            success: function (res) {
                if (res) {
                    window.location.assign("HTTP://localhost/www/");//跳到評價那
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        });
    });
</script>
</body>

</html>
