<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>QuizPage</title>
    <!-- Bootstrap core CSS-->
    <link href="./recourse/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="./recourse/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <!-- //<link href="css/sb-admin.css" rel="stylesheet"> -->
    <link href="./recourse/css/but_style_Student.css" rel="stylesheet">
</head>

<body style="background-color:rgba(196, 179, 153, 0.643)">
    <div class="container-fluid">
        <div class="row">
            <div class="container" align="center" style="text-align:center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Question
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                <font size="6" id="question_show">1+1=?</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--             <div class="col-md-12">
                    <button type="button" class="btn btn-dark" id="finish_butt">Success</button>
                </div> -->
            <div class="col-md-12">
                <div class="container">
                    <!--  id='tt'> -->
                    <button class="box1 " id="button_a" style="font-size:20px;">13</button>
                    <button class="box2 " id="button_b" style="font-size:20px;">14</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="container">
                    <!--  id="tt"> -->
                    <button class="box3 " id="button_c" style="font-size:20px;">15</button>
                    <button class="box4 " id="button_d" style="font-size:20px;">16</button>
                </div>
            </div>
            <input type="hidden" id="ans" value="" />
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="./recourse/vendor/jquery/jquery.min.js"></script>
    <script src="./recourse/vendor/popper/popper.min.js"></script>
    <script src="./recourse/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="./recourse/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="./recourse/vendor/pannel.js"></script>
    <script text="text/Javascript">
        var question_num = 0;
        $.ajax({
            type: "POST",
            url: "startquiz/getQuizinfo",
            dataType: "json",
            data: {},
            success: function (res) {
                if (res) {
                    alert(res);
                    document.getElementById('question_show').innerHTML = res[question_num * 6];
                    document.getElementById('button_a').innerHTML = res[question_num * 6 + 1];
                    document.getElementById('button_b').innerHTML = res[question_num * 6 + 2];
                    document.getElementById('button_c').innerHTML = res[question_num * 6 + 3];
                    document.getElementById('button_d').innerHTML = res[question_num * 6 + 4];
                }
            },
            error: function (jqXHR) {
                alert("發生錯誤: " + jqXHR.status);
            }
        });
        $("#button_a").click(function () {
            document.getElementById('ans').value = '1';
            $.ajax({
                type: "POST",
                url: "startquiz/checkans",
                dataType: "text",
                data: {
                    ans: document.getElementById("ans").value,
                    question_num: question_num
                },
                success: function (res) {
                    
                        window.location.href = './rating';
                    
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            });

        });
        $("#button_b").click(function () {
            document.getElementById('ans').value = '2';
            $.ajax({
                type: "POST",
                url: "startquiz/checkans",
                dataType: "text",
                data: {
                    ans: document.getElementById("ans").value,
                    question_num: question_num
                },
                success: function (res) {
                    if (res) {
                        window.location.href = './rating';//跳到評價那
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            });

        });
        $("#button_c").click(function () {
            document.getElementById('ans').value = '4';
            $.ajax({
                type: "POST",
                url: "startquiz/checkans",
                dataType: "text",
                data: {
                    ans: document.getElementById("ans").value,
                    question_num: question_num
                },
                success: function (res) {
                    if (res) {
                        window.location.href = './rating';//跳到評價那
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            });
        });
        $("#button_d").click(function () {
            document.getElementById('ans').value = '8';
            $.ajax({
                type: "POST",
                url: "startquiz/checkans",
                dataType: "text",
                data: {
                    ans: document.getElementById("ans").value,
                    question_num: question_num
                },
                success: function (res) {
                    if (res) {
                        window.location.href = './rating';//跳到評價那
                    }
                },
                error: function (jqXHR) {
                    alert("發生錯誤: " + jqXHR.status);
                }
            });
        });
		
		setInterval(function(){
			$.ajax({ url: "longpolling/polling2", success: function(data){
			if(data==1)
				window.location.href = './rating';
			}, dataType: "json"});
		}, 3000);
		<!-- function detecttestend(){ -->
		<!-- $.ajax( -->
			<!-- { -->
				<!-- type: 'GET', -->
				<!-- url: 'longpolling/polling', -->
				<!-- dataType : 'text', -->
				<!-- success: function(data){ -->
					<!-- window.location.href = './rating'; -->
				<!-- }, -->
				<!-- error : function(){ -->
					<!-- alert("fa"); -->
				<!-- } -->
			<!-- } -->
		<!-- ); -->
		<!-- } -->
    </script>
</body>

</html>