<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>NewQuiz</title>
	<!-- Bootstrap core CSS-->
	<link href="./recourse/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="./recourse/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Page level plugin CSS-->
	<link href="./recourse/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
	<!-- Custom styles for this template-->
	<link href="./recourse/css/sb-admin.css" rel="stylesheet">
	<!--------------------CKSOURCE--------------------->
	<script src="./additions/ckeditor/ckeditor.js"></script>
	<!------------------------------------------------->
	<!---------------------MATHJAX--------------------->
	<!--底下為ＭathJax，網頁開始時會先進行Scanner的動作一次-->
	<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML"></script>
	<!------------------------------------------------->
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<a class="navbar-brand" href="./teacherhome">Querisma</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
					<a class="nav-link" href="./teacherhome">
						<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">首頁</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
					<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
					   data-parent="#exampleAccordion">
						<i class="fa fa-fw fa-sitemap"></i>
						<span class="nav-link-text">個人題庫</span>
					</a>
					<ul class="sidenav-second-level collapse" id="collapseMulti">
						<li>
							<a href="./newquestion">新增題目</a>
						</li>
						<li>
							<a href="./editquestion">題目整理</a>
						</li>
						<li>
							<a href="./newquiz">設計測驗</a>
						</li>
					</ul>
				</li>

				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
					<a class="nav-link" href="./openclass">
						<i class="fa fa-fw fa-area-chart"></i>
						<span class="nav-link-text">開啟教室</span>
					</a>
				</li>

				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
					<a class="nav-link" href="#">
						<i class="fa fa-fw fa-link"></i>
						<span class="nav-link-text">Link</span>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item">
					<a class="nav-link text-center" id="sidenavToggler">
						<i class="fa fa-fw fa-angle-left"></i>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#exampleModal">
						<i class="fa fa-fw fa-sign-out"></i>Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="./teacherhome" id="teaname"></a>
				</li>
				<li class="breadcrumb-item active">新增測驗</li>
			</ol>
			<div class="container">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab"
						   aria-controls="home">新增測驗</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<span id="insertlesson"></span>
									<span id="insertTag"></span>
									<select class="form-control-sm" id="selectQuestionType" title="選擇題型">
										<option value="1">單選題</option>
										<!-- <option value="2">多選題</option> -->
										<option value="3">是非題</option>
									</select>
									<button class="btn btn-default" type="submit" id="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</div>
								<div class="row">
									<p id="totalrow"></p>
								</div>
								<div class="row">
									<div class="well" style="max-height: 300px;overflow: auto;">
										<ul class="list-group" data-toggle="items" id="searchresult">
											<li class="list-group-item disabled">題目 <span class="badge badge-secondary">使用次數</span>
											</li>
											<span id="insertHere"></span>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<p id="sum">目前選擇的總題數 : <span id="totalselectquestion">0題</span></p>
								</div>
								<div class="row">
									<p>選擇計分方式 : </p>
									<select class="form-control-sm">
										<option>不倒扣</option>
										<option>倒扣</option>
										<option>搶答</option>
									</select>
								</div>
								<div class="row">
									<p></p>
								</div>
								<div class="row">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon3">測驗名:</span>
										<input type="text" class="form-control" id="quizname"
											   aria-describedby="basic-addon3">
									</div>
								</div>
								<div class="row">
									<p></p>
								</div>
								<div class="row">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon3">作答時間:</span>
										<input type="text" class="form-control" id="anstime"
											   aria-describedby="basic-addon3">
									</div>
								</div>
								<div class="row">
									<p></p>
								</div>
								<input type="button" value="儲存" id="save">
							</div>
						</div>

					</div>
					<div class="tab-pane" id="profile" role="tabpanel">..</div>
					<div class="tab-pane" id="messages" role="tabpanel">.</div>
				</div>


			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © FOUNDCLASS 2017</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			 aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">確定退出系統?</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="./logout">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="./recourse/vendor/jquery/jquery.min.js"></script>
	<script src="./recourse/vendor/popper/popper.min.js"></script>
	<script src="./recourse/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="./recourse/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Page level plugin JavaScript-->
	<script src="./recourse/vendor/chart.js/Chart.min.js"></script>
	<script src="./recourse/vendor/datatables/jquery.dataTables.js"></script>
	<script src="./recourse/vendor/datatables/dataTables.bootstrap4.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="./recourse/js/sb-admin.min.js"></script>
	<!-- Custom scripts for this page-->
	<script src="./recourse/js/sb-admin-datatables.min.js"></script>
	<script src="./recourse/js/sb-admin-charts.min.js"></script>
	<script src="./recourse/js/listgroup.min.js"></script>
	<script src="./recourse/js/Ckeditor.js"></script>
	<script type="text/javascript">
		//使ckeditor支援span及a標籤
		CKEDITOR.dtd.$editable.span = 1;
		CKEDITOR.dtd.$editable.a = 1;

		var tmp;
		var questionidtotal = 'q';
		var items = document.getElementsByClassName("list-group-item active");
		$("#submit").click(function () {
			$.ajax({
				url: "question/editfindquestion",
				type: "POST",
				dataType: "json",
				data: {
					question_Types: $("#selectQuestionType").val(),
					question_Chapter: $("#chapter").val(),
					question_Lession: $("#lesson").val(),
					user_Id: 9
				},
				success: function ($res) {
					tmp = $res;
					document.getElementById("totalrow").innerText = "以" + $("#lesson").val() + "，" + $("#chapter").val() + "搜尋 結果共" + tmp.length + "件";
					var el = document.getElementById('insertHere');
					el.innerHTML = "";
					for (var i = 0; i < tmp.length; i++) {

						questioncontent = tmp[i]['question_Content'];
						//$questionoption=tmp[i]['questionoptiona'];
						used_Times = tmp[i]['used_Times'];
						ID = tmp[i]['question_Id'];

						//-display the result of the array
						var el = document.getElementById('insertHere');
						el.innerHTML = el.innerHTML + "<li class=\"list-group-item\" id=" + ID + " onclick=\"displayTotal()\"><span id=\"questioncontent" + i + "\" contenteditable=\"false\">" + questioncontent + "</span><span class=\"badge badge-secondary\">" + used_Times + "</span> </li>\n";

					}
					for (var i = 0; i < tmp.length; i++) {
						autoTransferInlineEditor('questioncontent' + i);
						switchReadonlyMode('on', 'questioncontent' + i);
						changeMathIntoTex();
					}
				},
				error: function () {
					alert("fa");
				}
			})
		});
		$("#save").click(function () {
			//var items = document.getElementsByClassName("list-group-item active");
			for (var j = 0; j < items.length; j++) {
				questionidtotal = questionidtotal + '_' + items[j].id;
			}
			$.ajax({
				url: "question/newquiz",
				type: "POST",
				dataType: "text",
				data: {
					course_Name: $("#lesson").val(),
					quiz_Name: $("#quizname").val(),
					irs_Quiz_QuestionI_Id: questionidtotal,
					quiz_Time: $("#anstime").val(),
					user_Id: 9
				},
				success: function ($res) {
					location.reload();
				}
			})
		});

		function displayTotal() {
			setTimeout(function () {
				document.getElementById("totalselectquestion").innerHTML = items.length + "題";
			}, 1);
			document.getElementById("totalselectquestion").innerHTML = items.length + "題";
		};

		$.ajax(
				{
					type: 'POST',
					url: 'question/loadlessonandchapter',
					dataType: 'text',
					success: function (data) {
						var el = document.getElementById('insertlesson');
						el.innerHTML = data;
					},
					error: function () {
						alert("fa");
					}
				}
		);

		function loadTag(courseName) {
			$.ajax(
					{
						type: 'POST',
						url: 'question/loadquestiontagforeditquestion',
						dataType: 'text',
						data: {course_Name: courseName},
						success: function (data) {
							var el = document.getElementById('insertTag');
							el.innerHTML = data;
						},
						error: function () {
							alert("fa");
						}
					}
			);
		};

		$.ajax(
				{
					type: 'POST',
					url: 'question/loadlessonandchapter',
					dataType: 'text',
					success: function (data) {
						var el = document.getElementById('insertlesson');
						el.innerHTML = data;
						var options = $("#lesson option:selected");
						loadTag(options.text());
					},
					error: function () {
						alert("fa");
					}
				}
		);

		$.ajax({
			type: "POST",
			url: "teacherhome/infotohtml",
			dataType: "json",
			data: {},
			success: function (res) {
				if (res) {
					document.getElementById("teaname").innerHTML = res;
				}
			},
			error: function (jqXHR) {
				alert("發生錯誤: " + jqXHR.status);
			}
		});
	</script>
</body>

</html>
