<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>waitpage</title>
    <!-- Bootstrap core CSS-->
    <link href="./recourse/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="./recourse/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="./recourse/css/sb-admin.css" rel="stylesheet">
    <link href="./recourse/css/LK.css" rel="stylesheet">
</head>

<body class="bg-info">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">目前學生人數</div>
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                <strong>等待中!</strong><br>已有10人登入
            </div>
            <!-- <a class="d-block small mt-3" href="QuizPage.html">Quizpage</a> -->
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="./recourse/vendor/jquery/jquery.min.js"></script>
<script src="./recourse/vendor/popper/popper.min.js"></script>
<script src="./recourse/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="./recourse/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="./recourse/vendor/LK5.js"></script>


<script type="text/JavaScript">


</script>
</body>


</html>


